PORT=
MONGODB_URI=

# Cloud Database Credentials
DB_USER=
DB_PASS=


# Cluster info (from MongoDB Atlas)
DB_CLUSTER=

# Database name
DB_NAME=

# Environment
NODE_ENV=development

# JWT
JWT_KEY=
JWT_Expire_Time=
COOKIE_EXPIRE_DAYS=
